body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangle {
    background-color: rgba(0, 0, 0, 0.95);
     position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1; 
    transition: background-color 0.3s ease; 
}

.flashlight {
    position: absolute;
    width: 5cm; /* Set diameter of the flashlight */
    height: 5cm;
    border-radius: 50%; /* Make it round */
    pointer-events: none; /* Ensure mouse events pass through */
    z-index: 2; /* Ensure the flashlight is on top of everything */
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 80%); /* Add gradient for flashlight effect */
    transform: scale(0); /* Initially hide the flashlight */
    transition: transform 0.3s ease; /* Smooth transition for flashlight movement */
}
