body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.imag{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.reveal {
    position: fixed;
    inset: 0;
    background: radial-gradient(
      circle 150px at 50% 50%,
      transparent 30%,
      rgba(0, 0, 0, 0.98)
    );
    pointer-events: none;
  }